/* PopularTV Styles */
.popular-tv {
    margin-top: 20px;
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: auto; /* Firefox */
  }
  
  .popular-tv::-webkit-scrollbar {
    width: 8px;
  }
  
  .popular-tv::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
  }
  
  .popular-tv::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
  }
  
  .tv-list {
    display: inline-flex;
    gap: 20px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .tv-show {
    position: relative;
  }
  
  .tv-poster {
    width: 200px;
    height: auto;
    border-radius: 8px;
  }
  
  .tv-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 8px;
    margin: 0;
    font-size: 14px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .tv-title:hover {
    overflow: auto;
    white-space: initial;
    text-overflow: unset;
  }
  
  .tv-show:hover .tv-title {
    opacity: 1;
  }
  